<app-navbar></app-navbar>
<app-page-header></app-page-header>

<div class="contents-list" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <a fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%" class="content" href="">
    <mat-card matRipple>
      <mat-card-title>Arawaks</mat-card-title>
    </mat-card>
  </a>
  <a fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%" class="content" href="">
    <mat-card matRipple>
      <mat-card-title>Macunas</mat-card-title>
    </mat-card>
  </a>
  <a fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%" class="content" href="">
    <mat-card matRipple>
      <mat-card-title>Muiscas</mat-card-title>
    </mat-card>
  </a>
  <a fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%" class="content" href="">
    <mat-card matRipple>
      <mat-card-title>Ticunas</mat-card-title>
    </mat-card>
  </a>
  <a fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%" class="content" href="">
    <mat-card matRipple>
      <mat-card-title>Wayús</mat-card-title>
    </mat-card>
  </a>
</div>

          